---
import Navigation from './Navigation.astro';
import Humburger from './Humburger.astro';
import Themaicon from './Themaicon.astro';
---
<header>
  <nav>
    <Humburger />
    <Themaicon />
    <Navigation />
  </nav>
</header>